<header class="ps-display-container ps-content ps-wide" id="home" style="text-align: center;">
    <img class="ps-image" src="/img/header.jpg" alt="Pimienta & Sal" width="800" height="600" />
    <div class="ps-display-bottomleft ps-padding-large ps-opacity">
        <h1 class="ps-xxlarge">Sabores que enamoran</h1>
    </div>
</header>